## Python - Assignment

In [1]:
import numpy as np
import pandas as pd

#### QUE: List_remove_append Description: Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

In [2]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list.remove('SPSS')

In [3]:
input_list.append('SPARK')

In [4]:
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

#### QUE  : Description: Convert a string input_str = 'I love Data Science & Python' to a list by splitting it on ‘&’. The sample output for this string will be:

In [7]:
input_str = 'I love Data Science & Python'

In [9]:
input_str.split(sep='&')

['I love Data Science ', ' Python']

#### QUE : Description: Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is veryclear'] to a string using ‘&’. The sample output of this string will be:

In [16]:
list1 =  ['Pythons syntax is easy to learn', 'Pythons syntax is veryclear'] 
srt1 = ' & '.join(list1)
print(srt1)
type(srt1)

Pythons syntax is easy to learn & Pythons syntax is veryclear

str

#### Nested List : Description: Extract Python from a nested list input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [18]:
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[-1][0]

'Python'

#### Description: t = ("disco", 12, 4.5) What is the output of: t[0][2]

In [20]:
t = ("disco", 12, 4.5)
t[0][2]

's'

#### String Palindrome:

Description: Write a program to check whether a string is a palindrome or not. Print 1 if
the string is a palindrome and 0 otherwise.
['I love Data Science ', ' Python']
Pythons syntax is easy to learn & Pythons syntax is very clear
2
Input: Any string
Output: 1 if the string is palindrome, 0 otherwise.

In [27]:
def isPalindrome(s):
    return s == s[::-1]
 
s = "Nikil_Nale"
ans = isPalindrome(s)
 
if ans:
    print("1")
else:
    print("0")

0

#### A string is said to be palindrome if the reverse of the string is the same as string. For example, “radar” is a palindrome, but “radix” is not a palindrome.

QUE : Reverse Words
Description: You will be given a sentence in the form of a string. You have to reverse the
order of the words in the sentence. Remember not to reverse the individual words, but
the order of words. Check the sample input-output for further clarification.
Input: A string, which will consist of a few spaces.
Output: The words in reverse order

In [29]:
string = "I'm highly passionated about a Big Data Engineer"

words_list = string.split()

rev_words_list = list(reversed(words_list))

print(" ".join(rev_words_list))

Engineer Data Big a about passionated highly I'm

QUE : String Formatting
Description: Write a program that satisfies below examples
Input 1: caloRie ConsuMed
Output 1: calorie_consumed
Input 2: data science
Output 2: data_science
Input 3: datascience
Output 3: datascienc

In [41]:
Input_1 = "caloRie ConsuMed"  # Output 1: calorie_consumed
inp = Input_1.lower().split()
print(inp[0] + "_" + inp[1])

calorie_consumed

In [39]:
Input_2 = 'data science'   # Output 2: data_science
inp = Input_2.split()
print(inp[0]+ "_"+inp[1])

data_science

1. How will you extract ‘love’ from the string S = “I love Python”? (More than one
option may be correct.).

a. S[2:5]

b. S[2:6]

c. S[3:7]

d. S[-11:-7]

e. S[-11:-8]

In [56]:
s = "I love Python"
s[2:6],s[-11:-7]

('love', 'love')

What will the output of 3 * 3 ** 3 be?

a. 9
b. 27
c. 81
d. 729

In [63]:
 3 * 3 ** 3

81

What will the output be of ((500//7) % 5) ** 3?

a. 1
b. 2.91
c. 71.42
d. 0
e. 8

In [66]:
((500//7) % 5) ** 3

1

If you have a tuple T = (3, 5, 7, 11), what will the output of T.append(9) be?

a. (3, 5, 7, 9, 11)
b. (9, 3, 5, 7, 11)
c. (3, 5, 7, 11, 9)
d. Error

In [70]:
T = (3, 5, 7, 11)
T.append(9)

AttributeError: 'tuple' object has no attribute 'append'

What will the output of the following code be?

1 = [32, 34, 12, 27, 33]
l.append((l4, 19))
print(len(l))


a. 5
b. 6
c. 7
d. The code will throw an error

In [84]:
l = [32, 34, 12, 27, 33]
l.append((14,19))
print(l)
len(l)

[32, 34, 12, 27, 33, (14, 19)]

6

Which of the following statements is incorrect regarding sets in Python?

a. Sets do not contain duplicate elements
b. Sets are represented using curly braces {}
c. Sets are immutable
d. All of the above

In [85]:
# c. Sets are immutable

In [103]:
# What will the output be of the following code?

dict = {1:['Raj',22], 2:['Simran',21], 3:['Rahul',40]}

for val in dict:
    print(val)

1
2
3

##### What will the ‘comprehension equivalent’ be for the following snippet of code?

for sentence in paragraph:
for word in sentence.split():
single_word_list.append(word)

In [105]:
# Ans:-- [word for word in sentence.split() for sentence in paragraph]

In [108]:
# What will be the output of this code? -->

print(list(range(10,1,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]